# Data Structures and Boolean
- Boolean
- Boolean and logical operators
- Lists
- Sets
- Comparision operaters
- Dictionaries
- Tuples

### Boolean

In [3]:
type(True)

bool

In [5]:
my_str= "Jasmine"

In [6]:
print(my_str.isalnum())

True

In [10]:
print(my_str.isdigit())
print(my_str.isalpha())
print(my_str.isspace())
print(my_str.isupper())
print(my_str.islower())
print(my_str.istitle())
print(my_str.startswith('j'))
print(my_str.startswith('J'))
print(my_str.endswith('E'))
print(my_str.endswith('e'))

False
True
False
False
False
True
False
True
False
True

### Logical operation

In [12]:
True and True

True

In [13]:
True and False

False

In [14]:
True or True

True

In [15]:
True or False

True

In [16]:
True and not True

False

#### Lists

- collection of items with any datatype of elements

In [20]:
lst=[' Maths','Chemistry',100,0.58]

In [21]:
type(lst)

list

In [22]:
lst.append("Exams Score")

In [23]:
lst

[' Maths', 'Chemistry', 100, 0.58, 'Exams Score']

### Indexing in list
- Starts with 0 index

In [27]:
len(lst)

5

In [24]:
lst[0]

' Maths'

In [25]:
lst[1]

'Chemistry'

In [26]:
lst[3]

0.58

In [29]:
lst[4]

'Exams Score'

In [31]:
lst[:]

[' Maths', 'Chemistry', 100, 0.58, 'Exams Score']

In [32]:
lst[1:3]

['Chemistry', 100]

In [33]:
lst[:4]

[' Maths', 'Chemistry', 100, 0.58]

In [34]:
lst[:5]

[' Maths', 'Chemistry', 100, 0.58, 'Exams Score']

In [35]:
lst[1:]

['Chemistry', 100, 0.58, 'Exams Score']

In [36]:
lst.insert(2,'Science')

In [37]:
lst

[' Maths', 'Chemistry', 'Science', 100, 0.58, 'Exams Score']

In [38]:
lst.insert(5,80)

In [39]:
lst

[' Maths', 'Chemistry', 'Science', 100, 0.58, 80, 'Exams Score']

In [43]:
lst.extend([2020,2021])

In [44]:
lst

[' Maths',
 'Chemistry',
 'Science',
 100,
 0.58,
 80,
 'Exams Score',
 'Grade8',
 2021,
 2021,
 2020,
 2021]

### Various operations performed on list

In [46]:
len(lst)

12

In [61]:
lst1=[1,2,3,4,5]
sum(lst1)

15

In [62]:
lst1.append(1)

In [64]:
lst1

[1, 2, 3, 4, 5, 1]

In [67]:
lst1.insert(1,1)

In [70]:
lst1.count(1)

3

In [78]:
lst1.index(1,1,7)

1

In [47]:
lst.pop(11)

2021

In [49]:
lst.pop(10)

2020

In [50]:
lst

[' Maths',
 'Chemistry',
 'Science',
 100,
 0.58,
 80,
 'Exams Score',
 'Grade8',
 2021,
 2021]

In [79]:
min(lst1)

1

In [80]:
max(lst1)

5

In [81]:
lst1*2

[1, 1, 2, 3, 4, 5, 1, 1, 1, 2, 3, 4, 5, 1]

#### Sets

- Collection of unique elements
- It is based on the data structure as HAsh table

In [84]:
set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [85]:
set_var={1,2,3,4,3}

In [95]:
set_var

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [96]:
set_var={"Avengers","IronMan",'Hitman'}

## Sets does not support indexing

In [97]:
set_var.add("Hulk")

In [98]:
set_var

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [99]:
set_var1={"Avengers","IronMan",'Hitman'}

In [100]:
set_var2={'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [101]:
set_var2.difference(set_var1)

{'Hulk'}

In [102]:
set_var2

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [103]:
set_var2.difference_update(set_var1)
print(set_var2)

{'Hulk'}

In [105]:
set_var2.intersection_update(set_var1)
print(set_var2)

set()

In [106]:
set_var1={"Avengers","IronMan",'Hitman'}
set_var2={'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [107]:
set_var2.intersection_update(set_var1)
print(set_var2)

{'Avengers', 'IronMan', 'Hitman'}

### Dictionaries

- collection of items or elements with key value pairs

In [108]:
set_ex={1,2,3,4}
type(set_ex)

set

In [109]:
my_dict={"car1":"Audi"," car2": "BMW"}

In [110]:
type(my_dict)

dict

In [112]:
my_dict["car1"]

'Audi'

In [113]:
for x in my_dict:
    print(x)

car1
 car2

In [114]:
for x in my_dict.values():
    print(x)

Audi
BMW

In [115]:
for x in my_dict.items():
    print(x)

('car1', 'Audi')
(' car2', 'BMW')

In [116]:
my_dict['car3']='Maruti'

In [117]:
my_dict

{'car1': 'Audi', ' car2': 'BMW', 'car3': 'Maruti'}

In [118]:
my_dict['car1']= 'Renault'

In [119]:
my_dict

{'car1': 'Renault', ' car2': 'BMW', 'car3': 'Maruti'}

- Nested Dictionary

In [122]:
car1_model={'Merc':1960}
car2_model={'Audi':1970}
car3_model={'Renault':2000}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [123]:
print(car_type)

{'car1': {'Merc': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Renault': 2000}}

In [125]:
print(car_type['car1'])

{'Merc': 1960}

In [126]:
print(car_type['car3'])

{'Renault': 2000}

In [131]:
for x in car3_model.items():
    print(x)

('Renault', 2000)

In [132]:
for x in car_type.items():
    print(x)

('car1', {'Merc': 1960})
('car2', {'Audi': 1970})
('car3', {'Renault': 2000})

In [134]:
print(car_type['car3']['Renault'])

2000

### Tuples

- Tuples are immutable.Once assigned, cannot be modified

In [135]:
my_tuple=('jasmine','eravelly','paris')

In [136]:
my_tuple[1]

'eravelly'

The whole tuple canbe replaced but the items in the tuple cannot be changed